/* ภารกิจที่ 2: จัดสไตล์ <body> */
body {
  background-color: #b8baff;
  font-family: Arial, sans-serif;
}

/* ภารกิจที่ 3: จัดสไตล์ .card */
.card {
  width: 300px;
  background-color: #bf6aff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;

  border: 4px solid;
  border-image: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet,
    red
  ) 1;
  animation: borderMove 5s linear infinite;
  background-clip: padding-box;
}

@keyframes borderMove {
  0%   { border-image-source: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet, red); }
  100% { border-image-source: linear-gradient(450deg, red, orange, yellow, green, cyan, blue, violet, red); }
}


/* ภารกิจที่ 4: จัดสไตล์รูปภาพ <img> */
.card img {
  border-radius: 50%;
  display: block;
  margin: 20 auto 15px;
  height: 250;
}

/* ภารกิจที่ 5: จัดสไตล์ชื่อ #profile-name */
#profile-name {
  color: #141414;
  text-align: center;
}

/* ภารกิจที่ 6: จัดสไตล์ .bio */
.bio {
  color: #141414;
  font-size: 14px;
}

/* ภารกิจที่ 7: จัดสไตล์ <ul> */
ul {
  list-style-type: none;
  padding-left: 0;
}

.rainbow-animate {
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet,
    red   
  );
  background-size: 400% 100%;
  animation: rainbowMove 6s linear infinite;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes rainbowMove {
  0%   { background-position: 0% 0%; }
  50%  { background-position: 100% 0%; }
  100% { background-position: 0% 0%; } 
}

.rainbow-animate1 {
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet,
    red   
  );
  background-size: 400% 100%;
  animation: rainbowMove 6s linear infinite;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes rainbowMove {
  0%   { background-position: 0% 0%; }
  50%  { background-position: 100% 0%; }
  100% { background-position: 0% 0%; } 
}

.rainbow-animate2 {
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet,
    red    
  );
  background-size: 400% 100%;
  animation: rainbowMove 6s linear infinite;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes rainbowMove {
  0%   { background-position: 0% 0%; }
  50%  { background-position: 100% 0%; }
  100% { background-position: 0% 0%; } 
}

.rainbow-animate3 {
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet,
    red   
  );
  background-size: 400% 100%;
  animation: rainbowMove 6s linear infinite;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes rainbowMove {
  0%   { background-position: 0% 0%; }
  50%  { background-position: 100% 0%; }
  100% { background-position: 0% 0%; } 
}
